.sidebarLinkWrapper {
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.sidebarLink {
    margin-left: 10px;
}

.sidebarIcon {
    fill: var(--inverted-primary-color);
}

.isCollapsed {
    .sidebarLink {
        opacity: 0;
        width: 0;
        transition-duration: 0.2s;
        transition-property: opacity;
    }
}
