.app.default {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #0b0b50;
    --primary-color: #0232c2;
    --secondary-color: #0449e0;
    --inverted-primary-color: #01cc01;
    --inverted-secondary-color: #04ff04;
}
