.app.red {
    --bg-color: #fbf4f4;
    --inverted-bg-color: #f51400;
    --primary-color: #ff2121;
    --secondary-color: #f51400;
    --inverted-primary-color: #fbf4f4;
    --inverted-secondary-color: #fbf4f4;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;

    // card
    --card-bg: #0d0d6b;
}
