.UxInput {
    padding: 10px;
    border: 1px solid var(--primary-color);
    background-color: var(--bg-color);
    color: var(--primary-color);
    outline: none;
}

.readOnly {
    background-color: #e8e8ea;
    color: #646464;
    border: 1px solid #646464;
}
